<div class="container">
    <h1 class="my-3 h3"></h1>
    <div class="d-flex align-items-center justify-content-center" style="height:350px;">
      <div class="display-4">ご注文ありがとうございました！</div>
    </div>
</div>