<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>ようこそ、ながのCAKEへ！</h1>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
        </div>
        <div class="row">
        </div>
      </div>
    </div>
  </div>
</div>